h3 {
  padding-bottom: var(--y-padding);
}

.stats-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  > .stats-sub-container {
    width: 75px;
    height: 75px;
    margin: 0 15px 15px 15px;
    border: 5px solid var(--border-color1);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    .stats-smiley {
      font-size: 2rem;
    }
  }
  .stats-info {
    position: absolute;
    margin-bottom: 150px;
    max-width: 130px;
    height: fit-content;
    z-index: 1;
    padding: 5px;
    background-color: var(--bg-color3);
    border: 5px solid var(--border-color2);
    border-radius: 15px;
    transition: 200ms;
    opacity: 0;
    cursor: default;
    pointer-events: none;
    ul {
      padding-top: 1.5rem;
      list-style: none;
      li {
        padding-bottom: 5px;
      }
    }
  }
  > div:hover > .stats-info {
    opacity: 0.98;
  }
  .stats-info:hover {
    display: none;
  }
}
