h1 {
  font-size: 1.15rem;
  letter-spacing: 1px;
  text-align: center;
  padding-top: 0.5rem;
}

#top-nav {
  padding: 1rem;
  border-bottom: 1px solid var(--border-color1);
  ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 1.5rem;
    li {
      box-sizing: border-box;
      text-align: center;
      background-color: var(--button-bg-color);
      min-width: 20%;
      padding: 0.25rem 0.5rem;
      cursor: pointer;
      border-radius: 5px 5px 0 0;
    }
    li:hover {
      color: var(--button-text-color-hover);
      background-color: var(--button-bg-color-hover);
    }
  }
}

.top-nav-underline {
  border-bottom: 2.5px solid var(--text-color1);
}

main {
  padding: 1rem;
  text-align: center;
}

h2 {
  font-size: 1.1rem;
  padding-bottom: 1.5rem;
}

h3 {
  font-size: 1.05rem;
}
