* {
  margin: 0;
  padding: 0;
}

:root {
  /* colors */
  --bg-color1: hsl(0, 0%, 10%);
  --bg-color2: hsl(0, 0%, 15%);
  --font-color1: hsl(0, 0%, 95%);
  --border-color1: hsl(0, 0%, 20%);
  /* paddings */
  --y-padding: 1rem;
  /* margins */
  --x-label-input: 0.7rem;
  --y-list-gap: 1rem;
}

body {
  display: flex;
  justify-content: center;
  background-color: var(--bg-color1);

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin-top: 5rem;
  width: 400px;
  background-color: var(--bg-color2);
  color: var(--font-color1);
}
